.hero {
  padding-bottom: 180px;
  padding-top: 235px;
  background-image: url(../images/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
}
.hero-title {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 80px;
  text-align: center;
}
.hero-text {
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: rgba(251, 251, 251, 0.7);
}

.hero-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 180px;
  height: 52px;
  margin: 0 auto;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  background: #1b414b;
  color: inherit;

  border-radius: 15px;
}
