.yachts .section-title {
  width: 710px;

  text-align: center;

  margin: 0 auto;
  margin-bottom: 75px;
}

.yacht-list {
  display: flex;
  margin-bottom: 50px;
  gap: 32px;
}

.yachts .container {
  padding: 0 100px;
}

.yacht-list-item {
  width: calc((100% - 2 * 32px) / 3);

  padding: 16px 16px 32px;

  border-radius: 24px;
  background: #fbfbfb;

  transition:
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.yacht-list-item:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 2px 1px white;
}

.yacht-list-image {
  border-radius: 24px;
  margin-bottom: 32px;
}

.yacht-list-title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 16px;
  margin-bottom: 16px;

  border-bottom: 1px solid #0403061a;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #1b414b;
}

.yacht-list-title-type {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #04030666;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.options-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #04030666;
}
.option-item-value {
  width: 94px;
  color: #040306;
  text-transform: none;
}

.yacht-link {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 180px;
  height: 52px;
  margin: 0 auto;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  border: 1px solid #fbfbfb59;
  border-radius: 15px;
}

.options-wrapper {
  padding: 0 16px;
}
